.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.filterBar{
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 60px;
    gap: 15px;
}

.title{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    background-color: #4096ff;
    width: 100%;
    height: 5%;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0 0 20px;
    width: 100%;
    height: 65%;
}

.listItem{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    overflow: auto;
}

.listItem::-webkit-scrollbar {
    width: 15px; /* Ширина всего элемента навигации */
}

.listItem::-webkit-scrollbar-track {
    background: transparent; /* Цвет дорожки */
}

.listItem::-webkit-scrollbar-thumb {
    background-color: gray; /* Цвет бегунка */
    border-radius: 2px; /* Округление бегунка */
    border: 1px solid #4096ff; /* Оформление границ бегунка */
}

